.keyboardContainer{
    width: 100%;
    height: 50vh;
    background: blue;
}


/* Input Holder CSS */

.keyboardInputHolder{
    width: 100%;
    height: 15%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputIcon{
    width: 20px;
    height: 20px;
    margin: 20px;
    fill: aliceblue;
}

.inputBox{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputEditText{
    width:90%;
    height: 80%;
}

.inputManual{
    margin-left: 10px;
}


/* Button Layout CSS */

.keyboardButtonContainer{
    height: 80%;
    width: 100%;
    background: yellow;
}